.button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-background-radius: 11px;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, #ff303e, 5, 0.3, 0, 0);
    -fx-padding: 0;
    -fx-pref-width: -1;
    -fx-pref-height: -1;
    /*-fx-border-color: transparent;*/
}

.button:focused {
    -fx-text-fill: rgb(112, 66, 20);
    -fx-transition: -fx-border-color 0.5s, -fx-border-width, 0.5s;
}

.button:hover{
    -fx-cursor:hand;
    -fx-text-fill: #ff303e;
    -fx-effect: dropshadow(three-pass-box, black, 3, 0.3, 0, 0);
    -fx-transition: -fx-border-color 0.5s, -fx-border-width, 0.5s;
}

.text {
    -fx-font-family: "Cortair Sans Stamp";
}
